<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <!--注册-->
    <insert id="save" parameterType="user">
        insert into user(
        username,password) values (#{username},#{password})
    </insert>
    <!--登录-->
    <select id="selectUser" parameterType="user" resultType="user">
        select * from user where username=#{username} and password=#{password}
    </select>
    <!--修改密码-->
    <update id="updateuser" parameterType="String">
        update user set password=#{password} where username=#{username}
    </update>
    <!--查询用户是否为空-->
    <select id="getUser" parameterType="String" resultType="user">
        select * from user where username=#{username}
    </select>
    <!--查询所有用户-->
    <select id="getselects" resultType="user">
        select * from user
    </select>
    <!--根据用户名查询用户信息-->
    <select id="selecte" parameterType="String" resultType="user">
        select * from user where username=#{username}
    </select>
    <!--根据用户名删除用户-->
    <delete id="delete" parameterType="String">
        delete from user where username=#{username}
    </delete>
    <select id="getPassword" parameterType="String" resultType="user">
        select * from user where password=#{password}
    </select>
</mapper>